<style>
  body {
    font: 14px sans-serif;
    margin: 8px 20px 20px;
    overflow: hidden;
  }

  textarea {
    height:1px;
    border:0;
    margin:0;
    padding:0;
    opacity:0;
  }
  .fontSelection {
    display: flex;
    flex-direction: column;
  }
  label {
    font-weight: 500;
    margin-bottom: 8px;
  }
  select {
    font-size: 14px;
  }
</style>
<textarea></textarea>
<div class="fontSelection">
  <label for="fonts">Select default font</label>
  <select id="fonts" onchange="onFontChanged()">
  </select>
  <!-- <button>Reset font</button> -->
</div>

<script>
  onmessage = event => {
    const pluginMessage = event.data.pluginMessage;

    switch(pluginMessage.type) {
      case 'paste': {
        const textarea = document.getElementsByTagName("textarea")[0];
        textarea.focus();
        document.execCommand("paste");
        const pasteText = textarea.value ? textarea.value : null;
        parent.postMessage({ pluginMessage: { type: 'paste', value: pasteText } }, '*');
      }
      case 'setFont':  {
        const selectElement = document.getElementById('fonts');
        pluginMessage.fonts.forEach(font => {
          const fontName = font.fontName.family;
          const fontStyle = font.fontName.style;
          if (!(fontName.startsWith('.') || fontName.startsWith('?'))) {
            option = document.createElement('option');
            option.setAttribute('value', `${fontName}::${fontStyle}`);
            option.appendChild(document.createTextNode(`${fontName} ${fontStyle}`));
            selectElement.appendChild(option);
          }
        });
        // Set the font in the dropdown
        selectElement.value = `${pluginMessage.currentFont.family}::${pluginMessage.currentFont.style}`;
      }
      default:
        break;
    }
  }

  function onFontChanged() {
    const selectElement = document.getElementById('fonts');
    const selectedValue = selectElement.value;
    const valueArray = selectedValue.split('::');
    const selectedFont = { family: valueArray[0], style: valueArray[1] };
    parent.postMessage({ pluginMessage: { type: 'selectFont', value: selectedFont } }, '*');
  }
</script>
